.DS_Store
node_modules

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Lock files
yarn.lock
package-lock.json

# Editor directories and files
.idea
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
